@page "/history"

<PageTitle>Chat</PageTitle>

<h1>History</h1>

<p>You have visited this places since starting the app.</p>

<OrleansDemo.RazorLibrary.HistoryComponent></OrleansDemo.RazorLibrary.HistoryComponent>
